<%= search_form_for @q, url: dashboard_path do |f| %>
  <div class="row">
    <div class="col-lg-4">
      <%=hidden_field_tag :month, @month_value%>
      <%=hidden_field_tag :year, @month_value%>
      <%= f.search_field :master_activity_name_cont, class: "form-control", placeholder: t('views.dashboard.search_by_name') %>
    </div>

    <div class="col-lg-4">
      <%= f.search_field :client_nickname_or_client_social_name_cont, class: "form-control", placeholder: t('views.dashboard.search_by_name_client') %>
    </div>

    <div class="col-lg-4">
      <%= f.search_field :user_name_cont, class: "form-control", placeholder: t('views.dashboard.search_by_name_user') %>
    </div>

  </div>

  <div class="hr-line-dashed"></div>

  <div class="row">
    <div class="col-sm-4 ">
      <%= link_to t("views.dashboard.clear"), dashboard_path(month: @month_value, year: @year_value), class: "btn btn-white" %>
      <%= f.submit class: "btn btn-primary" %>
    </div>

  </div>

<% end %>
