<%= render "layouts/breadcrumb", title: t('views.dashboard.dashboard'), breadcrumb_key: :dashboard %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5><%= t('views.dashboard.activity_list')%></h5>
          <div class="ibox-tools">
            <a href="" class="btn btn-primary btn-xs"><%= t('views.dashboard.add_new_activity')%></a>
          </div>
        </div>
        <div class="ibox-content">

          <div class="m-b-lg">

            <%= render "filter_form"%>
            <div class="m-t-md">

              <div class="float-right">
                <button type="button" class="btn btn-sm btn-white back-month"> <i class="fa fa-arrow-left"></i> </button>
                  <%= hidden_field(:dashboard, :month, value: @month_value)  %>
                  <%= hidden_field(:dashboard, :year, value: @year_value)  %>
                  <%= month_year_name(@month_value, @year_value) %>
                <button type="button" class="btn btn-sm btn-white foward-month"> <i class="fa fa-arrow-right"></i> </button>
              </div>

              <strong><%= t('views.dashboard.number_of_activities', number: @activities.count)%></strong>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-hover issue-tracker">
              <thead>
                <tr>
                  <th data-sort-ignore="true" data-toggle="true"><%= sort_link @q, :status%></th>
                  <th data-sort-ignore="true"><%= sort_link @q, :master_activity_name %></th>
                  <th data-sort-ignore="true"><%= sort_link @q, :master_activity_nickname %></th>
                  <th data-sort-ignore="true"><%= sort_link @q, :user_name %></th>
                  <th data-sort-ignore="true"><%= sort_link @q, :deadline %></th>
                  <th data-sort-ignore="true"><%= sort_link @q, :master_activity_competence, t('views.dashboard.competence') %></th>
                  <th data-sort-ignore="true"><%= t('views.dashboard.how_many_days')%></th>

                </tr>
              </thead>
              <tbody>
              <% @activities.each do |activity| %>
                <tr id="activity-<%= activity.id %>" >
                 <%= render partial: 'activities/activity_row', locals: { activity: activity } %>
                </tr>

              <% end %>

              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<%= render partial: 'layouts/simple_modal', locals: { modal_id: "activity", modal_title: t('activerecord.models.activity') } %>
