<%= render "layouts/breadcrumb", title: t('views.dashboard.dashboard'), breadcrumb_key: :dashboard %>

<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-content">
          <h3><%= t('views.dashboard.todo')%></h3>

          <ul class="sortable-list connectList agile-list ui-sortable" id="todo">
            <% @todo.each do |activity| %>
              <li class="<%= activity_element_color(activity) %> ui-sortable-handle" id="activity-<%= activity.id%>">
                <dd><%= fa_icon("tasks") %> <%= activity.name%></dd>
                <dd><%= fa_icon("building") %> <%= activity.nickname%></dd>

                <div class="agile-detail">
                  <% if current_user.admin? %>
                    <a href="#" class="float-right"><%= activity.user.name%></a>
                  <% end %>
                  <%= fa_icon("clock-o") %> <%= l activity.deadline%>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-content">
          <h3><%= t('views.dashboard.doing')%></h3>
          <ul class="sortable-list connectList agile-list ui-sortable" id="inprogress">
            <% @doing.each do |activity| %>
              <li class="<%= activity_element_color(activity) %> ui-sortable-handle" id="activity-<%= activity.id%>">
                <dd><%= fa_icon("tasks") %> <%= activity.name%></dd>
                <dd><%= fa_icon("building") %> <%= activity.nickname%></dd>

                <div class="agile-detail">
                  <% if current_user.admin? %>
                    <a href="#" class="float-right"><%= activity.user.name%></a>
                  <% end %>
                  <%= fa_icon("clock-o") %> <%= l activity.deadline%>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-content">
          <h3><%= t('views.dashboard.done')%></h3>
          <ul class="sortable-list connectList agile-list ui-sortable" id="completed">
            <% @done.each do |activity| %>
              <li class="<%= activity_element_color(activity) %> ui-sortable-handle" id="activity-<%= activity.id%>">
                <dd><%= fa_icon("tasks") %> <%= activity.name%></dd>
                <dd><%= fa_icon("building") %> <%= activity.nickname%></dd>

                <div class="agile-detail">
                  <% if current_user.admin? %>
                    <a href="#" class="float-right"><%= activity.user.name%></a>
                  <% end %>
                  <%= fa_icon("clock-o") %> <%= l activity.deadline%>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<%= render partial: 'layouts/simple_modal', locals: { modal_id: "activity", modal_title: t('activerecord.models.activity') } %>
