<%= render "layouts/breadcrumb", title: t('views.dashboard.dashboard'), breadcrumb_key: :dashboard %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-content">
          <h3><%= t('views.dashboard.todo')%></h3>

          <ul class="sortable-list connectList agile-list ui-sortable" id="todo">
            <% @todo.each do |activity| %>
              <li class="<%= activity_element_color(activity) %> ui-sortable-handle" id="activity-<%= activity.id%>">
                <%= activity.name%>
                <div class="agile-detail">
                  <a href="#" class="float-right btn btn-xs btn-white">Mark</a>
                  <i class="fa fa-clock-o"></i> <%= l activity.deadline%>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-content">
          <h3><%= t('views.dashboard.doing')%></h3>
          <ul class="sortable-list connectList agile-list ui-sortable" id="inprogress">
            <% @doing.each do |activity| %>
              <li class="<%= activity_element_color(activity) %> ui-sortable-handle" id="activity-<%= activity.id%>">
                <%= activity.name%>
                <div class="agile-detail">
                  <a href="#" class="float-right btn btn-xs btn-white">Mark</a>
                  <i class="fa fa-clock-o"></i> <%= l activity.deadline%>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox">
        <div class="ibox-content">
          <h3><%= t('views.dashboard.done')%></h3>
          <ul class="sortable-list connectList agile-list ui-sortable" id="completed">
            <% @done.each do |activity| %>
              <li class="<%= activity_element_color(activity) %> ui-sortable-handle" id="activity-<%= activity.id%>">
                <%= activity.name%>
                <div class="agile-detail">
                  <a href="#" class="float-right btn btn-xs btn-white">Mark</a>
                  <i class="fa fa-clock-o"></i> <%= l activity.deadline%>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
