<%
  form_url = url_for(controller: "master_activities", action: "create")
  if !@resource.new_record?
    form_url = url_for(controller: "master_activities", action: "update", id: @resource.id)
  end
%>

<%= simple_form_for(@resource, url: form_url, authenticity_token: true,
    method: @resource.new_record? ? "POST" : "PUT", remote: true,
    wrapper: :vertical_form, html: { class: "form-vertical", role: "form", }) do |f| %>

    <div class="row">
      <div class="col-xs-12">
        <%= f.input :name %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <%= f.input :category,
          input_html: { class: "chosen", "data-placeholder"=> t('views.general.select_one') } %>
      </div>

      <div class="col-xs-6">
        <%= f.input :frequency,
          input_html: { class: "chosen", "data-placeholder"=> t('views.general.select_one') } %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= f.association :activity_profiles,
          input_html: { class: "chosen", "data-placeholder"=> t('views.general.select_multiple') } %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 deadline-date-col">
        <%= f.input :deadline_date, as: :date_time_picker, input_html: { class: "date-time-picker" } %>
      </div>

      <div class="col-xs-4 deadline-day-col">
        <%= f.input :deadline_day %>
      </div>

      <div class="col-xs-4 deadline-month-col">
        <%= f.input :deadline_month, collection: @months,
          input_html: { multiple: true, class: "chosen", "data-placeholder"=> t('views.general.select_one') } %>
      </div>
    </div>

<% end %>
