<%
  form_url = url_for(controller: "users", action: "create")
  if !@resource.new_record?
    form_url = url_for(controller: "users", action: "update", id: @resource.id)
  end
%>

<%= simple_form_for(@resource, url: form_url, authenticity_token: true,
    method: @resource.new_record? ? "POST" : "PUT", remote: true, wrapper: :vertical_form,
    html: { class: "form-vertical", role: "form", }) do |f| %>

  <div class="row">
    <div class="col-xs-11" style="width: 95%;">
      <div class="form-group">
        <%= f.input :name %>
      </div>
      <div class="form-group">
        <%= f.input :email %>
      </div>
      <div class="form-group">
        <div class="col-sm-6" style="padding-right: 5px; padding-left: 0px;">
          <%= f.input :role %>
        </div>

         <div class="col-sm-6" style="padding-right: 5px; padding-left: 0px;">
          <%= f.input :salary %>
        </div>

      </div>
    </div>
    <div class="col-xs-11 m-t-50" style="width: 95%;">
      <%= t("mandatory_fields") %>
    </div>
  </div>
<% end %>
