<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><%= t("views.users.plural") %></h5>
        <%= link_to new_user_path, class: "btn btn-xs btn-primary pull-right open-crud-modal", data: { url: new_user_path } do %>
          <%=fa(:plus)%> <%= t("views.users.plural") %>
        <% end %>
      </div>
      <div class="ibox-content" style="padding-bottom: 10px !important;">
        <div id="courses-list" class="table-responsive" style="overflow: visible;">
          <%= render "users" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'layouts/crud_modal', locals: { modal_id: "user", modal_title: t('actions.add_one', model: t('activerecord.models.user').downcase) } %>
