<% if @resources.length > 0 %>
  <table class="table footable toggle-arrow-tiny">
    <thead>
      <tr>
        <th data-sort-ignore="true" data-toggle="true"><%= sort_link @q, :social_name %></th>
        <th data-sort-ignore="true" data-toggle="true"><%= sort_link @q, :nickname %></th>
        <th data-sort-ignore="true"><%= sort_link @q, :cnpj %></th>
        <th data-sort-ignore="true"><%= sort_link @q, :email %></th>
        <th data-sort-ignore="true" class="text-center"><%= t('link.actions') %></th>
        <th data-sort-ignore="true" data-breakpoints="all" data-hide="all"><%=t("activerecord.attributes.client.partner_name")%></th>
        <th data-sort-ignore="true" data-breakpoints="all" data-hide="all"><%=t("activerecord.attributes.client.partner_cpf")%></th>
        <th data-sort-ignore="true" data-breakpoints="all" data-hide="all"><%=t("activerecord.attributes.client.municipal_inscription")%></th>
        <th data-sort-ignore="true" data-breakpoints="all" data-hide="all"><%=t("activerecord.attributes.client.state_inscription")%></th>
        <th data-sort-ignore="true" data-breakpoints="all" data-hide="all"><%=t("activerecord.attributes.client.date_of_founding")%></th>
        <th data-sort-ignore="true" data-breakpoints="all" data-hide="all"><%=t("activerecord.attributes.client.taxation")%></th>
        <th data-sort-ignore="true" data-breakpoints="all" data-hide="all"><%=t("activerecord.attributes.client.contact")%></th>
        <th data-sort-ignore="true" data-breakpoints="all" data-hide="all"><%=t("activerecord.attributes.client.telephone")%></th>
        <th data-sort-ignore="true" data-breakpoints="all" data-hide="all"><%=t("activerecord.attributes.client.start_accounting")%></th>
        <th data-sort-ignore="true" data-breakpoints="all" data-hide="all"><%=t("activerecord.attributes.client.end_accounting")%></th>
        <th data-sort-ignore="true" data-breakpoints="all" data-hide="all"><%=t("activerecord.attributes.client.iss_password")%></th>
        <th data-sort-ignore="true" data-breakpoints="all" data-hide="all"><%=t("activerecord.attributes.client.simples_password")%></th>
        <th data-sort-ignore="true" data-breakpoints="all" data-hide="all"><%=t("activerecord.attributes.client.created_at")%></th>
        <th data-sort-ignore="true" data-breakpoints="all" data-hide="all"><%=t("activerecord.attributes.client.updated_at")%></th>
      </tr>
    </thead>
    <tbody>
      <% exclude_message = t('confirm_exclude', model: t('activerecord.models.client').downcase) %>
      <% @resources.each do |client| %>
        <tr class="field">
          <td class="title"><%= client.social_name %></td>
          <td><%= client.nickname %></td>
          <td><%= client.cnpj %></td>
          <td><%= client.email %></td>
          <td class="text-center">
            <div class="btn-group m-r-10">

              <%= link_to "#", class: "btn btn-white btn-bitbucket btn-xs tool-tip dropdown-toggle",
                "data-toggle" => "dropdown", role: "button", "aria-expanded" => "false",
                title: t('actions.show') do %>
                <i class="fa fa-wrench"></i>
              <% end %>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li>
                   <%= link_to client_path(client), class: "btn btn-bitbucket btn-xs tool-tip",
                     title: t('actions.show') do %>
                     <i class="fa fa-eye"></i> <%= t('views.clients.show') %>
                   <% end %>
                </li>
                 <li>
                    <%= link_to "", class: "btn btn-bitbucket btn-xs tool-tip", onclick: "editModal(event);",
                      title: t('actions.edit'), id: "client-link-#{client.id}", data: { url: edit_client_path(client) } do %>
                      <i class="fa fa-link"></i> <%= t('views.clients.link') %>
                    <% end %>
                </li>
                <li>
                    <%= link_to edit_client_path(client), class: "btn btn-bitbucket btn-xs tool-tip",
                   title: t('actions.edit'),
                   id: "client-edit-#{client.id}", data: { url: edit_client_path(client) } do %>
                   <i class="fa fa-pencil"></i> <%= t('views.clients.edit') %>
                 <% end %>
                </li>
                <li>
                  <%= link_to client_path(client), class: "btn btn-xs btn-bitbucket tool-tip" ,
                    id: "client-delete-#{client.id}", title: t('actions.destroy'), data: { confirm: exclude_message }, method: :delete do %>
                    <%= fa(:trash) %> <%= t('views.clients.trash') %>
                  <% end %>
                </li>
              </ul>
            </div>
          </td>
          <td>
            <%= client.partner_name %>
          </td>
          <td>
            <%= client.partner_cpf %>
          </td>
          <td>
            <%= client.municipal_inscription %>
          </td>
          <td>
            <%= client.state_inscription %>
          </td>
          <td>
            <%= ldate client.date_of_founding %>
          </td>
          <td>
            <%= translate_enum('client', 'taxation', client.taxation)  %>
          </td>
          <td>
            <%= client.contact %>
          </td>
          <td>
            <%= client.telephone %>
          </td>
          <td>
            <%= ldate client.start_accounting %>
          </td>
          <td>
            <%= ldate client.end_accounting %>
          </td>
          <td>
            <%= client.iss_password %>
          </td>
          <td>
            <%= client.simples_password %>
          </td>
          <td>
            <%= ldate client.created_at, :default %>
          </td>
          <td>
            <%= ldate client.updated_at, :default %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="text-center" style="padding-bottom: 30px;">
    <%= t('views.general.table_empty') %>
  </div>
<% end %>
<div class="f-pagination">
  <%= paginate @resources %>
</div>
