<td>
  <%= activity_status_label(activity)%>
</td>
<td id="activity-details-<%= activity.id %>" class="activity-details">
  <span>
    <%= activity.name %>
  </span>
</td>
<td>
  <%= activity.nickname %>
</td>
<td>
  <%= activity.user.name %>
</td>
<td>
  <%= ldate activity.deadline %>
</td>
<td>
  <%= set_competence activity %>
</td>
<td>
  <%= how_close_to_deadline(activity) %>
</td>
<td class="text-right">
  <% if activity.todo? %>
    <button class="btn btn-white btn-xs start-activity" id="start-activity-<%= activity.id %>"><%= t('views.dashboard.start')%></button>
  <% elsif activity.doing? %>
    <button class="btn btn-white btn-xs finish-activity" id="finish-activity-<%= activity.id %>"><%= t('views.dashboard.finish')%></button>
    <button class="btn btn-white btn-xs restart-activity" id="restart-activity-<%= activity.id %>"><%= t('views.dashboard.start_over')%></button>
  <% else activity.done? %>
    <button class="btn btn-white btn-xs restart-activity" id="restart-activity-<%= activity.id %>"><%= t('views.dashboard.start_over')%></button>
  <% end %>

  <% if current_user.admin? %>
    <%= link_to archive_activity_path(activity),
      class: "btn btn-xs btn-white btn-bitbucket tool-tip archive-activity" ,
      id: "master-activity-delete-#{activity.id}", title: t('actions.destroy'),
      data: { confirm:  t('confirm_exclude', model: t('activerecord.models.activity').downcase) },
      remote: true, method: :put do %>
      <%= fa(:trash) %>
   <% end  %>

  <% end  %>

</td>
