<!DOCTYPE html>
<html>
<head>
 <title>RL</title>
  <!--Main css styles-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--Main javascript files-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="mini-sidebar">
  <div id="wrapper">
    <%= display_flash_messages(flash) %>
    <%= render 'layouts/navigation' %>

    <div class="gray-bg" id="page-wrapper">
      <%= render 'layouts/topnavbar' %>
          <%= content_for?(:breadcrumb) ? yield(:breadcrumb) : "" %>
          <div class="wrapper wrapper-content">

            <%= yield %>
            <%= insert_paloma_hook %>
          </div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</body></html>
